@import '../../sass/variables.module.scss';
@import '../../sass/mixins.module.scss';

.faq {
  @include padding;
  @include flex-col;
  align-items: center;
  background-color: $background;
  gap: 60px;
}

.firstFaq {
  @include flex-row-center;
  gap: 60px;

  aside {
    width: 50%;
  }
}

.faqText {
  color: $white;
  @include flex-col;
  gap: 20px;

  h3 {
    font-size: 24px;
  }
}

.faqDropdown {
  width: 100%;

  p {
    background-color: $green;
    padding: 16.5px 30px;
    @include flex-row-center;
    justify-content: space-between;

    span {
      @include flex-row-center;
      transition: transform 0.5s ease-in-out;
    }

    .activeDropdown {
      transform: rotate(180deg);
    }
  }

  div {
    color: $black;
    background-color: $white;
    opacity: 0;
    height: 0;
    transform: scaleY(0);
    transform-origin: top;

    transition-property: transform opacity height padding;
    transition: 0.5s ease-in-out;
  }

  .activeText {
    padding: 22px 30px;
    opacity: 1;
    height: max-content;
    transform: scaleY(1);
  }
}

.faqList {
  @include flex-col;
  gap: 5px;
  width: 60%;
}

@media (max-width: 1320px) {
  .faqList {
    width: 80%;
  }
}

@media (max-width: 1048px) {
  .faqList {
    width: 90%;
  }
}
